<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/7930674d7a.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>

  </title>
</head>

<body>
  <nav id="header">
      <a href="/" id="header">Home</a>
      <a href="/recipes" id="header">Recipes</a>
      <a href="/recipes/new" id="header">Add Recipe</a>

  
  <% if (user) { %>
    <a href="/logout" id="header">Log Out</a>
    <% } else { %>
      <a href="/auth/google" class="login" id="header">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>
