<%- include('./partials/header') %>

    <div class="mainImgs">
        <img class="mainImgs"
            src="https://www.freegreatpicture.com/files/photo101/50179-clusters-of-barbecue-meat-and-vegetables.jpg"
            alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/files/104/1508-gourmet.jpg" alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/files/104/6989-gourmet.jpg" alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/files/104/7234-gourmet.jpg" alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/files/photo111/55399-omelette.jpg" alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/food-culture/flames-and-sliced-barbecue-50176"
            alt="">
    </div>


    <%- include('./partials/footer') %>