<%- include('./partials/header') %>
    <br>
    <div class="mainImgs">
        <img class="mainImgs" src="https://img.freepik.com/free-photo/traditional-uzbek-oriental-cuisine-uzbek-family-table-from-different-dishes-new-year-holiday_127425-162.jpg?w=2000" alt="">
        <img class="mainImgs" src="https://img.freepik.com/free-photo/high-angle-chicken-meal_23-2148825122.jpg?t=st=1651082187~exp=1651082787~hmac=c9e84c68c250affc7e007203d9494f089c068aa15c9ebeb348e22e146c96373a&w=2000" alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/files/photo101/50179-clusters-of-barbecue-meat-and-vegetables.jpg" alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/files/104/6989-gourmet.jpg" alt="">
        <img class="mainImgs" src="https://www.freegreatpicture.com/files/104/7234-gourmet.jpg" alt="">
    </div>


    <%- include('./partials/footer') %>