body {
  padding: 50px;
  font-family: 'Nanum Pen Script', cursive;
  background-color: beige;
  display: grid;
  justify-self: center;
}

a {
  color: #3477be;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.login img {
  height: 38px;
}

.mainImgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 30px;
  border: 10px, solid black;
}
div > img {
  border: 3px solid grey;
}

#header {
  display: inline;
  border: 3px solid none;
  height: 70px;
  text-align: center;
  margin: auto;
  position: relative;
  font-size: 60px;
}

.recForm {
  display: inline-block;
  background-color: lightgray;
  border: 2px solid black;
  margin: 5px;
}

.dir {
  height: 50px;
  width: 300px;
  margin-top: 6px;
}

.recImg {
  height: 400px;
  width: 400px;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.idxImg {
  height: 225px;
  width: 225px;
  padding-right: 10px;
}

#revSec {
  height: 50px;
  grid-template-columns: 100px 50px 100px;
  align-items: baseline;

} 

#show-page {
  display: grid;
  font-size: 40px;
  justify-self: center;
}

#diff {
  width: 50px;
  height: 25px;
}

#new-form {
  display: grid;
  width: 50%;
  justify-content: center;
  align-self: center;
  font-size: 30px;
  justify-self: center;
  background-color: rgb(113, 159, 202);
}

#list {
  font-size: 30px;
  display: grid;
  justify-content: center;
}

#idxDes {
  padding: 0px 30px 0px 30px;
  justify-self: center;
}

.user-review {
  /* display: block;
  align-items: center; */
  /* padding: 5px; */
  height: 30px;
  color:blue;

}

#add-review {
  font-size: 30px;
  display: block;
  justify-content: center;
  justify-self: center;
  /* width: 60%; */
}

#reviewHeader {
  display:grid;
}

#description {
  text-decoration: underline;
  justify-self: center;
}

#desInput {
  justify-self: center;
  font-size: 50px;
}

#desHead {
  justify-self: center;
  font-size: 50px;
  text-decoration: underline;
}
.new {
  font-size: 50px;
  text-decoration: underline;
  padding-top: 20px;
  align-self: center;
  justify-self: center;
}

.revName {
  font-size: 30px;
  text-decoration: underline;
  justify-self: center;
}

