<%- include('../partials/header') %>

<br>
<h2 id="desHead">Add New Recipe</h2>
<form id="new-form" action="/recipes" method="POST" class="recForm">
    <label for="recImg">Add Picture:</label>

<input type="text"
       id="imageFile" name="recImg">
    
    <label for="description" >Description:</label>
        <input type="text" name="description" required>
    
    <label for="difficulty" >Difficulty Level:</label>
       <select id="diff" name="difficultyLevel" required>
           <option value="1">1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
           <option value="5">5</option>
       </select>
       

    <label for="servings">Servings:</label>
        <input type="number" name="servings" required>
    
    <label for="ingredients">Ingredient List:</label>
    <textarea name="ingredientList" id="" cols="30" rows="10"></textarea>
        
    
    <label for="directions">Cooking Directions:</label>
    <textarea name="directions" id="" cols="30" rows="10"></textarea><br>
        
    
    <input type="submit"><br>
</form>


<%- include('../partials/footer') %>