<%- include('../partials/header') %>

<h2>Enter New Recipe</h2>
<form id="new-form" action="/recipes" method="POST">
    <!-- <input type="image"> -->
    <label>Recipe Name:</label>
        <input type="text" name="title" required>
    
    <label for="description" >Description:</label>
        <input type="text" name="description" required>
    
    <label for="difficulty" >Difficulty Level:</label>
       <select id="" name="difficultyLevel" required>
           <option value="1">1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
           <option value="5">5</option>
       </select>
    
    <label for="servings">Servings:</label>
        <input type="number" name="servings" required>
    
    <label for="ingredients">Ingredient List:</label>
        <input type="text" size="50" name="ingredientList" required>
    
    <label for="directions">Cooking Directions:</label>
        <input type="text" name="directions" required>
    
    <input type="submit">
</form>

<%- include('../partials/footer') %>