<%- include('../partials/header') %>

<!-- <section>
    <div id="1">Soup</div>
    <div id="2">Salad</div>
    <div id="3">Sandwiches</div>
    <div id="4">Pot Roast</div>
    <div id="5">Grilled Chicken</div>
    <div id="6">Grilled Tri Tip</div>
    <div id="7">Chicken Fajitas</div>
    <div id="8">Mashed Potatoes</div>
    <div id="9">Rissoto</div>
    <div id="10">Chocolate Souffle</div>
    <div id="11">Bourbon Bread Pudding</div>
    <div id="12">Cheesecake</div>
</section> -->


<%- include('../partials/footer') %>